<a class="btn btn-secondary mt-3" 
    data-bs-toggle="offcanvas" 
    href="#offcanvasExample" role="button" 
    aria-controls="offcanvasExample">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" 
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
        />
    </svg>
</a>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel"> 
        <span class="text-success">The</span>Blog</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="list-group">
        <a href="{{ path("users_index") }}" class="text-white text-decoration-none">
            <li class="list-group-item {{ activeMenu("users_index") }} border-0" aria-current="true">
                Utilisateurs
            </li>
        </a>
        <a href="{{ path("posts_index") }}" class="text-white text-decoration-none">
            <li class="list-group-item {{ activeMenu("posts_index") }} border-0" aria-current="true">
                Articles
            </li>
        </a>
        <a href="{{ path("comments_index") }}" class="text-white text-decoration-none">
            <li class="list-group-item {{ activeMenu("comments_index") }} border-0" aria-current="true">
                Commentaires
            </li>
        </a>
        <li class="list-group-item border-0">Albums</li>
        <li class="list-group-item border-0">Photos</li>
    </ul>
  </div>
</div>
